{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 160,
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "arrowParens": "avoid"
}
